@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@400;500;600&display=swap");

/*  || RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* || VARIABLES */
/* :root { */
/* COLORS */
/* --PRIMARY: white;
  --SECONDARY: black; */

/* Font colors */
/* --TEXT--PRIMARY: pink;
  --TEXT--SECONDARY: orange; */
/* } */

/* || UTILITY CLASSES */

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
